*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

wp_xtrmtotop/_archives/wp_xtrmtotop.zip
wp_xtrmtotop/_documention/en-GB/01-description.html
wp_xtrmtotop/_documention/en-GB/02-utilisation.html
wp_xtrmtotop/_documention/fr-FR/01-description.html
wp_xtrmtotop/_documention/fr-FR/02-utilisation.html
wp_xtrmtotop/_documention/images/wp-xtrm-to-top.jpg
