<!DOCTYPE html>
<!-- <html lang="{{ page.lang.name | default: 'en-US' }}"> -->
<html lang="{{ page.lang }}">
  <head>
    {% include common/header.html %}
  </head>

  <body>
    <header id="content-header">
      {% include common/navbar.html %}
    </header>

    {% include extra/breadcrumb.html %}

    {% include extra/google-adsense.html %}

    <section id="content-section" class="container-fluid">
      <div id="content-layer" class="container">
        {{ content }}
      </div>
    </section>

    {% include extra/google-adsense.html %}

    {% include common/footer.html %}
    {% include extra/bootstrap-js.html %}
    {% include extra/google-analytics.html %}
  </body>
</html>