<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include common/header.html %}
  </head>

  <body>
    <header id="content-header">
      {% include common/navbar.html %}
    </header>

    <section id="content-section" class="container-fluid">
      <div id="content-layer" class="container">
        {{ content }}
      </div>
    </section>

    {% include common/footer.html %}
    {% include extra/bootstrap-js.html %}
    {% include extra/google-analytics.html %}
  </body>
</html>